{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^components/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^react-i18next$",
    "^@components/(.*)$",
    "^[./](?!.*\\.(css|scss|sass|module\\.css|module\\.scss|module\\.sass)$)",
    ".*\\.(css|scss|sass|module\\.css|module\\.scss|module\\.sass)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
