.expense-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  overflow: hidden;
  width: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 1rem;
}

.history h2 {
  margin: 2rem 0 0 2rem;
}
