body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #201325;
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(79, 154, 224, 0.87);
}
